<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{default title page.basename }} | {{ site.lead }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<link rel="stylesheet" href="{{assets}}/css/main.css">
<script src="{{assets}}/js/vendor/modernizr.js"></script>

{{#unless production}}
<script src="//localhost:35729/livereload.js"></script>
{{/unless}}
