<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{default title page.basename }} | {{ site.lead }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<link rel="stylesheet" href="{{assets}}/css/style.css">
<script src="js/vendor/modernizr-2.6.2.min.js"></script>
